.todo-task{
        display: grid;
        grid-template-columns: 4fr 0.4fr 0.4fr;
        margin: 0 -3rem 4px;
        padding: 1.1rem 3rem;
        background: rgba(255, 255, 255, 0.1);
}

.todo-editButton,.todo-deleteButton{
    background: none;
    border: 0px;
    color: #fff;
}

.todo-form{
            display: grid;
            grid-template-columns: 4fr 0.4fr;
            margin: 0 -3rem 4px;
            padding: 1.1rem 3rem;
            background: rgba(255, 255, 255, 0.1);
}

.todo-content{
    cursor: pointer;
    transition: text-decoration-color 0.3s ease-in-out, opacity 0.3s ease-in-out;
        /* Add transition */
}

.todo-content.struck {
    text-decoration: line-through;
    text-decoration-thickness: 4px;
    /* Adjust thickness */
    text-decoration-color: red;
    /* Adjust color */
    opacity: 0.5;
    /* Match the opacity change if needed */
}